:root {
    --day-hover-color: rgb(240, 240, 207);
    --today-color: rgb(0, 140, 255);
    --main-background-color: #F2F2F2;
    --calendar-header-color: aqua;
    --gap-color: #696767;
    --confirm-color: yellowgreen;
    --reject-color: orange;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: var(--main-background-color);
}

.error {
    background-color: orangered;
}

.calendar {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 6px;
}

/* https://dev.to/lennythedev/css-gotcha-how-to-fill-page-with-a-div-270j */
ol.calendar-grid {
    display: grid;
    grid-gap: 1px;
    margin: 0 auto;
    padding: 0;
    height: 100%;
}

ol.calendar-grid.month {
    grid-template-columns: repeat(7, 1fr);
}

/* because attr() doesn't really work*/
ol.calendar-grid.month[grid-rows="4"] {
    grid-template-rows: auto repeat(4, 1fr);
}

ol.calendar-grid.month[grid-rows="5"] {
    grid-template-rows: auto repeat(5, 1fr);
}

ol.calendar-grid.month[grid-rows="6"] {
    grid-template-rows: auto repeat(6, 1fr);
}

ol.calendar-grid.week {
    grid-template-columns: auto repeat(7, 1fr);
}

ol.calendar-grid.workweek {
    grid-template-columns: auto repeat(5, 1fr);
}

ol.calendar-grid.week,
ol.calendar-grid.workweek {
    grid-template-rows: auto repeat(24, 1fr);
}

ol.calendar-grid.week {
    grid-template-areas:
        ". header0 header1 header2 header3 header4 header5 header6"
        "hour0 day0 day1 day2 day3 day4 day5 day6"
        "hour1 day0 day1 day2 day3 day4 day5 day6"
        "hour2 day0 day1 day2 day3 day4 day5 day6"
        "hour3 day0 day1 day2 day3 day4 day5 day6"
        "hour4 day0 day1 day2 day3 day4 day5 day6"
        "hour5 day0 day1 day2 day3 day4 day5 day6"
        "hour6 day0 day1 day2 day3 day4 day5 day6"
        "hour7 day0 day1 day2 day3 day4 day5 day6"
        "hour8 day0 day1 day2 day3 day4 day5 day6"
        "hour9 day0 day1 day2 day3 day4 day5 day6"
        "hour10 day0 day1 day2 day3 day4 day5 day6"
        "hour11 day0 day1 day2 day3 day4 day5 day6"
        "hour12 day0 day1 day2 day3 day4 day5 day6"
        "hour13 day0 day1 day2 day3 day4 day5 day6"
        "hour14 day0 day1 day2 day3 day4 day5 day6"
        "hour15 day0 day1 day2 day3 day4 day5 day6"
        "hour16 day0 day1 day2 day3 day4 day5 day6"
        "hour17 day0 day1 day2 day3 day4 day5 day6"
        "hour18 day0 day1 day2 day3 day4 day5 day6"
        "hour19 day0 day1 day2 day3 day4 day5 day6"
        "hour20 day0 day1 day2 day3 day4 day5 day6"
        "hour21 day0 day1 day2 day3 day4 day5 day6"
        "hour22 day0 day1 day2 day3 day4 day5 day6"
        "hour23 day0 day1 day2 day3 day4 day5 day6";
}

ol.calendar-grid.workweek {
    grid-template-areas:
        ". header0 header1 header2 header3 header4"
        "hour0 day0 day1 day2 day3 day4"
        "hour1 day0 day1 day2 day3 day4"
        "hour2 day0 day1 day2 day3 day4"
        "hour3 day0 day1 day2 day3 day4"
        "hour4 day0 day1 day2 day3 day4"
        "hour5 day0 day1 day2 day3 day4"
        "hour6 day0 day1 day2 day3 day4"
        "hour7 day0 day1 day2 day3 day4"
        "hour8 day0 day1 day2 day3 day4"
        "hour9 day0 day1 day2 day3 day4"
        "hour10 day0 day1 day2 day3 day4"
        "hour11 day0 day1 day2 day3 day4"
        "hour12 day0 day1 day2 day3 day4"
        "hour13 day0 day1 day2 day3 day4"
        "hour14 day0 day1 day2 day3 day4"
        "hour15 day0 day1 day2 day3 day4"
        "hour16 day0 day1 day2 day3 day4"
        "hour17 day0 day1 day2 day3 day4"
        "hour18 day0 day1 day2 day3 day4"
        "hour19 day0 day1 day2 day3 day4"
        "hour20 day0 day1 day2 day3 day4"
        "hour21 day0 day1 day2 day3 day4"
        "hour22 day0 day1 day2 day3 day4"
        "hour23 day0 day1 day2 day3 day4";
}

.hour0 {
    grid-area: hour0;
}

.hour1 {
    grid-area: hour1;
}

.hour2 {
    grid-area: hour2;
}

.hour3 {
    grid-area: hour3;
}

.hour4 {
    grid-area: hour4;
}

.hour5 {
    grid-area: hour5;
}

.hour6 {
    grid-area: hour6;
}

.hour7 {
    grid-area: hour7;
}

.hour8 {
    grid-area: hour8;
}

.hour9 {
    grid-area: hour9;
}

.hour10 {
    grid-area: hour10;
}

.hour11 {
    grid-area: hour11;
}

.hour12 {
    grid-area: hour12;
}

.hour13 {
    grid-area: hour13;
}

.hour14 {
    grid-area: hour14;
}

.hour15 {
    grid-area: hour15;
}

.hour16 {
    grid-area: hour16;
}

.hour17 {
    grid-area: hour17;
}

.hour18 {
    grid-area: hour18;
}

.hour19 {
    grid-area: hour19;
}

.hour20 {
    grid-area: hour20;
}

.hour21 {
    grid-area: hour21;
}

.hour22 {
    grid-area: hour22;
}

.hour23 {
    grid-area: hour23;
}

.header0 {
    grid-area: header0;
}

.header1 {
    grid-area: header1;
}

.header2 {
    grid-area: header2;
}

.header3 {
    grid-area: header3;
}

.header4 {
    grid-area: header4;
}

.header5 {
    grid-area: header5;
}

.header6 {
    grid-area: header6;
}

.day0 {
    grid-area: day0;
}

.day1 {
    grid-area: day1;
}

.day2 {
    grid-area: day2;
}

.day3 {
    grid-area: day3;
}

.day4 {
    grid-area: day4;
}

.day5 {
    grid-area: day5;
}

.day6 {
    grid-area: day6;
}

li.grid-ruler {
    height: 60px;
}

/* probably a bad way to do it */
li.grid-ruler::after {
    position: absolute;
    left: 0;
    content: "";
    display: block;
    height: 40px; /* I assume this might cause problems in future */
    border-bottom: 1px solid grey;
    width: 100%;
    pointer-events: none;
}

li.grid-content {
    overflow-y: hidden;
}

div.event-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 85%;
    /* kinda a hack to mostly fix the weird scroll */
}

.first-day {
    grid-column-start: 2;
}

.calendar-grid,
.popover li {
    list-style-type: none;
}

li.grid-header {
    background-color: var(--calendar-header-color);
}

.month-prev,
.month-next {
    background-color: rgb(226, 225, 225);
}

.calendar-grid li.grid-content:hover {
    background-color: var(--day-hover-color);
}

#today span {
    display: block;
    background-color: var(--today-color);
}

.calendar-header {
    display: flex;
}

#calendar-header-text {
    font-weight: bold;
}

#view-tabs {
    margin-left: auto;
}

input[type="radio"] {
    display: none;
    /* opacity: 0; maybe for better accessibility? */
    /* pointer-events: none; ?? */
}

#view-tabs label {
    padding-bottom: 3px;
    padding-top: 3px
}

input[type="radio"]:checked + label {
    background-color: var(--calendar-header-color);
}

.event {
    background-color: aqua;
    margin: 3px;
}

/* POPOVER */
.popover-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 0 auto;
    padding: 0;
}

.popover-body {
    overflow-wrap: anywhere;
}

li.popover-data-left {
    text-align: right;
    margin-right: 6px;
}

/* NAVBAR */
ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 6px;
}

.nav-bar li {
    display: inline;
    background-color: lightgrey;
}

/* ADMIN SITE */
.moderator-wrapper {
    display: flex;
    align-items: flex-start;
    /* justify-content: ; */
}

.moderator-wrapper>div {
    border-style: solid;
    border-width: 0.5px;
    padding-top: 8px;
    margin-bottom: 10px;
}

#unprocessed-container {
    margin-left: 10px;
    margin-right: 15px;
}

#admin-form-wrapper {
    margin-right: 10px;
    padding-bottom: 10px;
}

#admin-form-wrapper>*,
#unprocessed-container>* {
    margin-left: 5px;
    margin-right: 5px;
}

.unprocessed-event {
    display: flex;
    justify-content: space-between;
}

.unprocessed-events>div {
    margin-bottom: 12px;
}

/* for gaps between the spans, but many elements in that div aren't span -> change css */
.unprocessed-events span {
    margin: 3px;
}

.state-buttons {
    display: inline-grid;
}

/* https: //css-tricks.com/overriding-default-button-styles/ */
.unprocessed-event-data {
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    /*background-color: inherit;*/
    font-size: 1rem;
    cursor: pointer;
    text-align: left;
    transition: background 250ms ease-in-out,
        transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* does bootstrap not provide css for this class? */
.sr-only {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px, 1px, 1px, 1px);
    /*maybe deprecated but we need to support legacy browsers */
    clip-path: inset(50%);
    /*modern browsers, clip-path works inwards from each corner*/
    white-space: nowrap;
    /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

.button-yes {
    background-color: var(--confirm-color);
}

.button-no {
    background-color: var(--reject-color);
}

.event-name {
    font-weight: bolder;
}

.hidden {
    display: none;
}